{% extends "@layout/layout.twig" %}
{% set title = orders_title %}
{% set view_title = 1 %}
{% block styles %}
<link rel="stylesheet" href="{{ cssurl('orders') }}" />
{% endblock %}
{% block scripts %}
<script src="{{ jsurl('sortable') }}"></script>
<script src="{{ jsurl('orders') }}"></script>
<script>
// TODO: Setup multiple enable and disable texts.
const SUBMIT_DISABLED_TEXT = "{{ string('buttons.submit_d') }}";
</script>
{% endblock %}
{% block content %}
{# TODO: Order states, product_ids, listkeys search should go here. #}
{% if orders|length %}
    <div class="section orders">
    {% for order in orders %}
    <div class="order col-1-2">
        {% set file = order.getFile() %}
        {% set customer = order.getCustomer() %}
        <div class="state">
            <div class="col-1-4">{{ string('fields.state') }}</div>
            <div class="col-3-4">
                {{ string('enum.pstate.'~order.state) }}&nbsp;
                <form action="{{ url('order:edit', { order:order.id }) }}" method="POST" class="layout__inline css__form js__actions-form">
                    {{ csrf_token_input(url('order:edit', { order:order.id }))|raw }}
                    <button type="submit" id="finalize" class="btn blue tiny solid">{{ string('buttons.finalize') }}</button>
                    <button type="submit" id="cancel" class="btn red tiny solid">{{ string('buttons.cancel') }}</button>
                    <button type="submit" id="roll" class="btn red tiny solid">{{ string('buttons.roll') }}</button>
                    <button type="submit" id="blacklist" class="btn red tiny solid">{{ string('buttons.blacklist') }}</button>
                </form>
                {# View full data is here if list_keys is not present #}
            </div>
        </div>
        <div class="product_id">
            <div class="col-1-4">{{ string('fields.product_id') }}</div>
            <div class="col-3-4">{{ products[order.product_id].name }}</div>
        </div>
        <div class="file_id">
            <div class="col-1-4">{{ string('fields.file_id') }}</div>
            <div class="col-3-4"><a href="{{ file.getServeUrl() }}" target="_blank">{{ file.getName() }}</a></div>
        </div>
        <div class="amount">
            <div class="col-1-4">{{ string('fields.amount') }}</div>
            <div class="col-3-4">{{ order.amount }}</div>
        </div>
        {% if (list_keys) %}
        <div class="keys">
            <div class="col-1-4">{{ string('fields.keys') }}</div>
            <div class="col-3-4">
                {% set keys = order.keys %}
                {% for key in keys %}
                    {# keystore[keyId] is an element of type App\Entity\KeyStore #}
                    {# key.description for order keys stores an id for a KeyStore entity. #}
                    {{ key.label }}=
                    {% if keystore[key.description].value[key.value] is defined %}
                        {%  if keystore[key.description].key == color_id %}
                            <span class="css__color-box" style="background-color:#{{ keystore[key.description].value[key.value] }};"></span>
                        {% else %}
                            {{ keystore[key.description].value[key.value] }}
                        {% endif %}
                    {% else %}
                        {{ key.value }}
                    {% endif %}
                    <br>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="customer_phone">
            <div class="col-1-4">{{ string('fields.customer.phone') }}</div>
            <div class="col-3-4">{{ string('p') }}{{ customer.phone }}</div>
        </div>
        <div class="customer_name">
            <div class="col-1-4">{{ string('fields.customer.name') }}</div>
            <div class="col-3-4">{{ customer.name }}</div>
        </div>
        <div class="customer_note">
            <div class="col-1-4">{{ string('fields.order.customer_note') }}</div>
            <div class="css__pre col-3-4">{{ order.customer_note }}</div>
        </div>
        <div class="note">
            <div class="col-1-4">{{ string('fields.note') }}</div>
            <div class="col-3-4">
                <span class="css__pre js__note">{{ order.note|raw }}</span> <a href="#" class="js__edit-note">(edit)</a>
                <form action="{{ url('order:edit', { order:order.id }) }}" method="POST" class="css__form js__note-form hidden">
                    <span class="csrf">{{ csrf_token_input(url('order:edit', { order:order.id }))|raw }}</span>
                    <textarea name="note"></textarea>
                    <input type="hidden" name="action" value="note" />
                    <button type="submit" class="edit btn blue tiny solid">{{ string('buttons.submit') }}</button>
                </form>
                {# View full data is here if list_keys is not present #}
            </div>
        </div>
        <div class="clear"></div>
    </div>
    {% endfor %}
    </div>
{% else %}
<div class="notice">There are no orders.</div>
{% endif %}
{% endblock %}