<div class="row bg-white">
    <div class="section center">
        <h1>{{ string('home.where') }}</h1>
        <hr class="blue small">
        <p class="centered-text"><blockquote>{{ string('home.where.desc') }}</blockquote></p>
        <p class="centered-text small">{{ string('home.where.disclaimer') }}</p>
        <a href="{{ string('site.gmap') }}">
            <img src="{{ imgurl('map.png') }}">
        </a>
    </div>
</div>