{% extends "@layout/layout.twig" %}
{% set title = string('titles.file_uploaded') %}
{% set view_title = 1 %}
{% block styles %}
<link rel="stylesheet" href="{{ cssurl('sortable') }}" />
<link rel="stylesheet" href="{{ cssurl('files') }}" />
{% endblock %}
{% block scripts %}
<script src="{{ jsurl('sortable') }}"></script>
<script src="{{ jsurl('files') }}"></script>
{% endblock %}
{% block content %}
{% if files|length %}
    <div class="notice narrow">{{ string('descriptions.copy') }}</div>
    <div class="section center padded">
        <table data-sortable class="files-table">
            <thead>
                <tr>
                    <th class="name">{{ string('fields.file.name') }}</th>
                    <th class="url">{{ string('fields.file.url') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for file in files %}
                <tr>
                    <td class="name"><a href="{{ file.getServeUrl() }}" target="_blank">{{ file.getName() }}</a></td>
                    <td class="url"><span class="js__selectable">{{ file.getServeUrl(1) }}</span></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
{% endblock %}