{# Blocks content|scripts|styles Variables title|view_title|sidebar} #}
{% set logged_user = user() %}
{% set fonturl = '/static/fonts/Finalist.woff2' %}
{% set top_bar = 1 %}
{% set language = di()['language'] %}
<!DOCTYPE html>
<html lang="{{ language }}" dir="{{ language == 'ar' ? 'rtl' : 'ltr' }}">
    <head>
        <title>{{ string('site.title') }} - {{ title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="Original XYZ for 3D Printing, Laser Cutting, and Other CNC Services and Engineering Solutions">
        <link rel="icon" href="/favicon.png" type="image/x-icon">
        <style>
        @font-face {
          font-family: 'Finalist';
          src: local('Finalist'), local('Finalist-Regular'), url({{ fonturl }}) format('woff2');
        }
        </style>
        <link rel="stylesheet" href="{{ cssurl('vital') }}" />
        <link rel="stylesheet" href="{{ cssurl('override') }}" />
        <link rel="stylesheet" href="{{ cssurl('main') }}" />
        {% if language == 'ar' %}
            <link rel="stylesheet" href={{ cssurl('override.rtl') }} />
        {% endif %}
        <script src="{{ jsurl('jquery') }}"></script>
        <script src="{{ jsurl('main') }}"></script>
        {% block styles %}{% endblock %}
    </head>
    <body>
        {% include '@layout/flash.twig' %}
        {% if top_bar %}
            <div class="layout__links-wrapper">
            {% if logged_user %}
                {% include '@layout/private_links.twig' %}
            {% else %}
                {% include '@layout/public_links.twig' %}
            {% endif %}
            </div>
        {% endif %}
        <div class="contents">
            {% if view_title is defined %}
            <h2 class="center layout__main-title">{{ title }}</h3>
            {% endif %}
            {% block content %}{% endblock %}
        </div>
        {% include '@layout/footer.twig' %}
        {% block scripts %}{% endblock %}
    </body>
</html>