{% extends "@layout/public_links.twig" %}
{% block private_links %}
<li><a
 href="{{ url('main:dashboard') }}"
 class="arrow {{ title == string('titles.main_dashboard') ? 'here' : '' }}">
    {{ string('titles.main_dashboard') }}
 </a>
 <ul>
    {% if logged_user.hasPermission('order_edit') %}
        <li><a
         href="{{ url('order:all') }}"
         class="{{ title == string('titles.order_view') ? 'here' : '' }}">
            {{ string('titles.order_view') }}
         </a></li>
    {% endif %}
    {% if logged_user.hasPermission('file_edit') %}
        <li><a
         href="{{ url('file:upload') }}"
         class="{{ title == string('titles.file_upload') ? 'here' : '' }}">
            {{ string('titles.file_upload') }}
         </a></li>
        <li><a
         href="{{ url('file:all') }}"
         class="{{ title == string('titles.file_view') ? 'here' : '' }}">
            {{ string('titles.file_view') }}
         </a></li>
    {% endif %}
    {% if logged_user.hasPermission('user_add') %}
        <li><a
         href="{{ url('user:add') }}"
         class="{{ title == string('titles.user_add') ? 'here' : '' }}">
            {{ string('titles.user_add') }}
         </a></li>
    {% endif %}
    {% if logged_user.hasPermission('user_edit') %}
        <li><a
         href="{{ url('user:all') }}"
         class="{{ title == string('titles.user_view') ? 'here' : '' }}">
            {{ string('titles.user_view') }}
         </a></li>
    {% endif %}
 </ul>
 </li>
{% endblock %}